/* Somesh HackVerse Responsive CSS */


/* Tablet */

@media (max-width: 900px) {


    .navbar {

        flex-direction: column;

        gap: 15px;

    }


    .navbar nav {

        text-align: center;

    }


    .cards {

        grid-template-columns: repeat(2, 1fr);

    }


    .hero h1 {

        font-size: 34px;

    }


}



/* Mobile */

@media (max-width: 600px) {


    .navbar {

        width: 95%;

        padding: 15px;

    }


    .navbar nav a {

        display: inline-block;

        margin: 8px;

        font-size: 14px;

    }


    .hero {

        width: 95%;

        padding: 35px 20px;

    }


    .hero h1 {

        font-size: 28px;

    }


    .cards {

        width: 95%;

        grid-template-columns: 1fr;

    }


    .card {

        padding: 25px;

    }


    .logo {

        font-size: 20px;

    }


}
