/* Somesh HackVerse V2 - Responsive Design */


/* Tablet */

@media (max-width: 900px) {


    .navbar {

        flex-direction: column;

        gap: 20px;

    }


    .navbar nav {

        text-align: center;

    }


    .cards {

        grid-template-columns: repeat(2,1fr);

    }


    .hero h1 {

        font-size: 35px;

    }

}



/* Mobile */

@media (max-width:600px) {


    .navbar {

        width: 95%;

        padding: 15px;

    }


    .logo {

        font-size: 20px;

    }


    .navbar a {

        display: inline-block;

        margin: 8px;

        font-size: 14px;

    }



    .hero {

        width: 95%;

        padding: 40px 20px;

    }


    .hero h1 {

        font-size: 28px;

    }


    .hero p {

        font-size: 15px;

    }



    .cards {

        width:95%;

        grid-template-columns:1fr;

    }


    .card {

        padding:25px;

    }


}
